%main.main-chat
  .current-group
    .current-group__info
      .current-group__name
        グループ情報
      %ul.current-group__member-list
        Member：
        %li.current-group__member
          yam
        %li.current-group__member
          yam
        %li.current-group__member
          yam
    = link_to 'Edit', '#', class: 'current-group__edit-btn'
  %article.messages
    = render @messages
  = form_with model: [@group, @message], html: { class: 'form' }, local: true do |f|
    .form__fields
      = f.text_field :content, placeholder: 'type a message', class: 'form__content'
      = f.label :image, class: 'form__image-label' do
        = icon 'fas', 'image'
        = f.file_field :image, class: 'form__image'
    = f.submit 'Send', class: 'form__submit'
